/* Login.css */

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px); /* Adjust for footer height */
  padding: 20px;
}

.login-box {
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  background-color: #e100ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #1500ff;
  color: white;
}

.button:hover {
  background-color: #1200cc;
}

.signupbutton {
  padding: 10px 20px;
  font-size: 16px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ff0000;
  color: white;
}